/* Login and signup forms */

.account-form button {
  width: 4rem;
  margin-left: 80px;
}

#signup-form button {
  width: 8rem;
}

.account-forms-container {
  padding-left: 20px;
}

/* User profile */

.user-profile-div {
  padding: 20px;
  font-size: 1em;
}

.user-profile-div div {
  margin: 10px;
}